*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

html {
  font-size: 62.5%;

  @include respond(tab) {
    font-size: 50%;
  }

  @include respond(desktop) {
    font-size: 56.25%;
  }

  @include respond(big-desktop) {
    font-size: 75%;
  }

  @include respond(phone) {
    font-size: 50%;
  }
}

body {
  box-sizing: border-box;
  padding: 1rem;
  margin: 0;
  background-color: $gray-mid;
  line-height: 1.7;
  color: $gray-dark;

  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.main {
  display: flex;
  flex-direction: column;
  align-items: center;

  @include respond(tab) {
    flex-direction: row;
    align-items: flex-start;
    justify-content: space-around;
  }

  @include respond(desktop) {
    flex-direction: row;
    align-items: flex-start;
    // justify-content: space-around;
  }

  @include respond(big-desktop) {
    flex-direction: row;
    align-items: flex-start;
  }
}

.header,
.footer {
  text-align: center;
  padding: 2rem;
  font-size: 2rem;
}

.btn {
  background-color: $btn-green;
  border: none;
  border-radius: 1rem;
  outline: none;
  height: 3rem;

  &:focus {
    outline: none;
    background-color: $btn-highlight;
  }
}

.btn--orange {
  background-color: $btn-orange;
  padding: 0.5rem;
  border: none;
  border-radius: 1rem;
  outline: none;
  height: 3rem;
  float: right;

  &:focus {
    outline: none;
    background-color: $btn-highlight-or;
  }
}
